.navbar{
  display: flex;
  justify-content: space-around;
  margin: 25px 7rem;
  line-height: 2;
}
nav {
  display: flex;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0px 35px;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}